In [44]:
import development.scheduled_csv_to_mysql

if __name__ == '__main__':
    run_daily_incremental()

üì• Extracting data from 'Coffee Shop Sales2.csv'...
üìÜ Processing daily backdate for: 2025-01-01
üîÑ Transforming data...
üÜï No existing data. Creating a new file...
‚úÖ Load complete! Total unique transactions: 549
‚úÖ Daily backdate for 2025-01-01 completed.

In [48]:
install pandas

SyntaxError: invalid syntax (2856326376.py, line 1)

In [50]:
pip install pandas

Requirement already satisfied: pandas in c:\users\khang\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\khang\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khang\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\khang\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khang\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\khang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [10]:
import os
from datetime import datetime, timedelta
import pandas as pd
from etl_backdating_csv_to_csv import extract_data, transform_data, load_data

INPUT_FILE = "Coffee Shop Sales2.csv"
OUTPUT_FILE = "transformed.csv"

def get_next_date_to_process(output_csv, df_raw):
    """
    Determine the next date to backdate based on the last date in the CSV.
    If the CSV doesn't exist, return the earliest date in the raw data.
    """
    df_raw['transaction_date'] = pd.to_datetime(df_raw['transaction_date'], errors='coerce')
    
    if not os.path.exists(output_csv):
        return df_raw['transaction_date'].min()

    df_existing = pd.read_csv(output_csv)
    df_existing['transaction_date'] = pd.to_datetime(df_existing['transaction_date'], errors='coerce')
    df_existing = df_existing.dropna(subset=['transaction_date'])
    last_date = df_existing['transaction_date'].max()

    return last_date + timedelta(days=1)


def run_daily_incremental():
    """
    Run ETL for the next unprocessed date in the raw CSV.
    """
    df_raw = extract_data(INPUT_FILE)
    if df_raw is None:
        print("‚ùå Extraction failed.")
        return

    next_date = get_next_date_to_process(OUTPUT_FILE, df_raw)

    df_raw['transaction_date'] = pd.to_datetime(df_raw['transaction_date'], errors='coerce')
    df_raw = df_raw.dropna(subset=['transaction_date'])

    last_raw_date = df_raw['transaction_date'].max()
    if next_date > last_raw_date:
        print("‚úÖ No new data to process. All dates up to latest available are loaded.")
        return

    start_date_str = next_date.strftime('%Y-%m-%d')
    end_date_str = next_date.strftime('%Y-%m-%d')

    print(f"üìÜ Processing daily backdate for: {start_date_str}")

    # --- Transform and load ---
    df_transformed = transform_data(df_raw, start_date_str, end_date_str)
    if df_transformed.empty:
        print(f"‚ö† No data found for {start_date_str}")
        return

    load_data(df_transformed, OUTPUT_FILE, start_date_str, end_date_str)
    print(f"‚úÖ Daily backdate for {start_date_str} completed.")

In [12]:
run_daily_incremental()

üì• Extracting data from 'Coffee Shop Sales2.csv'...
üìÜ Processing daily backdate for: 2025-01-02
üîÑ Transforming data...
üìÇ Existing data found. Removing old data in the same date range...
‚úÖ Load complete! Total unique transactions: 1115
‚úÖ Daily backdate for 2025-01-02 completed.

In [19]:
def extract_data(file_path):
    try:
        df = pd.read_csv(file_path)
        print(f"‚úÖ Data extracted successfully from {file_path}")
        print("Columns in CSV:", df.columns.tolist())  # üîç Add this line
        return df
    except FileNotFoundError:
        print(f"‚ùå Error: The file {file_path} was not found.")
        return None
    except Exception as e:
        print(f"‚ùå An error occurred during data extraction: {e}")
        return None

In [21]:
INPUT_FILE = "Coffee Shop Sales2.csv"

In [23]:
extract_data(INPUT_FILE)

‚úÖ Data extracted successfully from Coffee Shop Sales2.csv
Columns in CSV: ['transaction_id;transaction_date;transaction_time;transaction_qty;store_id;store_location;product_id;unit_price;product_category;product_type;product_detail']

       transaction_id;transaction_date;transaction_time;transaction_qty;store_id;store_location;product_id;unit_price;product_category;product_type;product_detail
0       1;2025/01/01;07:06:11;2;5;Lower Manhattan;32;3...
1       2;2025/01/01;07:08:56;2;5;Lower Manhattan;57;3...
2       3;2025/01/01;07:14:04;2;5;Lower Manhattan;59;4...
3       4;2025/01/01;07:20:24;1;5;Lower Manhattan;22;2...
4       5;2025/01/01;07:22:41;2;5;Lower Manhattan;57;3...
...                                                   ...
149111  149452;2025/06/30;20:18:41;2;8;Hell's Kitchen;...
149112  149453;2025/06/30;20:25:10;2;8;Hell's Kitchen;...
149113  149454;2025/06/30;20:31:34;1;8;Hell's Kitchen;...
149114  149455;2025/06/30;20:57:19;1;8;Hell's Kitchen;...
149115  149456;2025/06/30;20:57:19;2;8;Hell's Kitchen;...

[149116 rows x 1 columns]

In [26]:
docker exec -it airflow-docker-airflow-scheduler-1 bash
python3

SyntaxError: Missing parentheses in call to 'exec'. Did you mean exec(...)? (2902784441.py, line 1)

In [1]:
pip install faker

Collecting faker
  Downloading faker-37.5.3-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\khang\anaconda3\lib\site-packages (from faker) (2025.2)
Downloading faker-37.5.3-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
    --------------------------------------- 0.0/1.9 MB 435.7 kB/s eta 0:00:05
    --------------------------------------- 0.0/1.9 MB 435.7 kB/s eta 0:00:05
    --------------------------------------- 0.0/1.9 MB 435.7 kB/s eta 0:00:05
   - -------------------------------------- 0.1/1.9 MB 252.2 kB/s eta 0:00:08
   - -------------------------------------- 0.1/1.9 MB 327.7 kB/s eta 0:00:06
   - -------------------------------------- 0.1/1.9 MB 327.7 kB/s eta 0:00:06
   - -------------------------------------- 0.1/1.9 MB 327.7 kB/s eta 0:00:06
   -- ------------------------------------- 0.1/1.9 MB 300.4 kB/s eta 0:00:07
   --- ------------------------------------ 0.2/1.9 MB 436.8 kB/s eta 0:00:05
   ---- ----------------------------------- 0.2/1.9 MB 492.1 kB/s eta 0:00:04
   ---- ----------------------------------- 0.2/1.9 MB 492.1 kB/s eta 0:00:04
   ----- ---------------------------------- 0.2/1.9 MB 430.6 kB/s eta 0:00:04
   ------- -------------------------------- 0.4/1.9 MB 603.4 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/1.9 MB 718.9 kB/s eta 0:00:03
   ---------- ----------------------------- 0.5/1.9 MB 733.7 kB/s eta 0:00:02
   ---------- ----------------------------- 0.5/1.9 MB 683.6 kB/s eta 0:00:03
   ---------- ----------------------------- 0.5/1.9 MB 696.3 kB/s eta 0:00:03
   ---------- ----------------------------- 0.5/1.9 MB 696.3 kB/s eta 0:00:03
   ---------- ----------------------------- 0.5/1.9 MB 696.3 kB/s eta 0:00:03
   ---------- ----------------------------- 0.5/1.9 MB 696.3 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 579.2 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 579.2 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 579.2 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 579.2 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 579.2 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 500.6 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 500.6 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 500.6 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 500.6 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 500.6 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 500.6 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 500.6 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/1.9 MB 500.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/1.9 MB 450.6 kB/s eta 0:00:03
   ----------------------- ---------------- 1.1/1.9 MB 580.7 kB/s eta 0:00:02
   ----------------------- ---------------- 1.1/1.9 MB 580.7 kB/s eta 0:00:02
   ----------------------- ---------------- 1.1/1.9 MB 580.7 kB/s eta 0:00:02
   ----------------------- ---------------- 1.1/1.9 MB 551.2 kB/s eta 0:00:02
   ------------------------ --------------- 1.2/1.9 MB 567.3 kB/s eta 0:00:02
   ------------------------ --------------- 1.2/1.9 MB 567.3 kB/s eta 0:00:02
   ------------------------ --------------- 1.2/1.9 MB 567.3 kB/s eta 0:00:02
   ------------------------ --------------- 1.2/1.9 MB 567.3 kB/s eta 0:00:02
   ------------------------- -------------- 1.2/1.9 MB 543.2 kB/s eta 0:00:02
   --------------------------- ------------ 1.3/1.9 MB 567.4 kB/s eta 0:00:02
   ---------------------------- ----------- 1.4/1.9 MB 594.7 kB/s eta 0:00:01
   ------------------------------ --------- 1.5/1.9 MB 617.1 kB/s eta 0:00:01
   ------------------------------- -------- 1.5/1.9 MB 618.0 kB/s eta 0:00:01
   --------------------------------- ------ 1.6/1.9 MB 639.0 kB/s eta 0:00:01
   ----------------------------------- ---- 1.7/1.9 MB 667.5 kB/s eta 0:00:01
   ------------------------------------ --- 1.8/1.9 MB 679.0 kB/s eta 0:00:01
   ------------------------------------- -- 1.8/1.9 MB 690.1 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 708.4 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 711.8 kB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 693.2 kB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.5.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import os
import mysql.connector
import logging
import random
from datetime import datetime, timedelta
from faker import Faker

# Set up logging for better visibility
logging.basicConfig(level=logging.INFO)
fake = Faker()

def generate_synthetic_data(start_date, end_date, num_records_per_day):
    """
    Generates synthetic coffee shop sales data within a specified date range.
    """
    print("‚ú® Generating synthetic data...")
    
    # Define product categories and their corresponding types and details
    product_data = {
        'Coffee': {
            'Gourmet brewed coffee': ['Ethiopia Rg', 'Colombian Sm', 'Brazilian Lg'],
            'Drip coffee': ['Our Old Time Diner Blend Sm', 'Our Old Time Diner Blend Lg'],
            'Organic brewed coffee': ['Brazilian Rg', 'Peruvian Lg'],
            'Premium brewed coffee': ['Jamaican Coffee River Sm', 'Blue Mountain Rg'],
            'Espresso': ['Americano Rg', 'Latte Lg', 'Cappuccino Sm']
        },
        'Tea': {
            'Brewed Chai tea': ['Spicy Eye Opener Chai Lg', 'Morning Sunrise Chai Lg'],
            'Brewed Black tea': ['Earl Grey Rg', 'English Breakfast Sm'],
            'Brewed Herbal tea': ['Chamomile Lg', 'Peppermint Rg']
        },
        'Drinking Chocolate': {
            'Hot chocolate': ['Dark chocolate Lg', 'Caramel Lg'],
            'Flavored hot chocolate': ['White chocolate Sm', 'Hazelnut Rg']
        },
        'Bakery': {
            'Scone': ['Oatmeal Scone', 'Cranberry Scone'],
            'Pastry': ['Croissant', 'Apple Danish'],
            'Muffin': ['Blueberry Muffin', 'Chocolate Chip Muffin']
        }
    }

    # Define store locations and their IDs
    store_locations = {
        'Lower Manhattan': 5,
        'Astoria': 3,
        "Hell's Kitchen": 8
    }

    # Generate a list of dates
    date_list = [start_date + timedelta(days=x) for x in range((end_date - start_date).days + 1)]
    
    records = []
    transaction_id_counter = 1

    for date in date_list:
        # Simulate varying number of transactions per day
        num_transactions = random.randint(num_records_per_day // 2, num_records_per_day * 2)
        
        for _ in range(num_transactions):
            transaction_time = fake.time_object().strftime('%H:%M:%S')
            transaction_qty = random.randint(1, 3)
            store_location = random.choice(list(store_locations.keys()))
            store_id = store_locations[store_location]
            
            product_category = random.choice(list(product_data.keys()))
            product_type = random.choice(list(product_data[product_category].keys()))
            product_detail = random.choice(product_data[product_category][product_type])
            
            # Unit price based on product category and size
            if 'Sm' in product_detail:
                unit_price = round(random.uniform(2.0, 3.0), 2)
            elif 'Rg' in product_detail:
                unit_price = round(random.uniform(2.5, 4.0), 2)
            elif 'Lg' in product_detail:
                unit_price = round(random.uniform(3.0, 5.0), 2)
            else:
                unit_price = round(random.uniform(2.0, 5.0), 2)

            # Assign product ID
            product_id = random.randint(1, 100)
            
            records.append([
                transaction_id_counter,
                date.strftime('%Y-%m-%d'),
                transaction_time,
                transaction_qty,
                store_id,
                store_location,
                product_id,
                unit_price,
                product_category,
                product_type,
                product_detail
            ])
            transaction_id_counter += 1

    df = pd.DataFrame(records, columns=[
        'transaction_id', 'transaction_date', 'transaction_time', 'transaction_qty',
        'store_id', 'store_location', 'product_id', 'unit_price',
        'product_category', 'product_type', 'product_detail'
    ])

    print(f"‚úÖ Data generation complete! Generated {len(df)} records.")
    return df

def transform_data(df, start_offset_date, end_offset_date):
    """
    Transforms the raw DataFrame by:
    - Filtering by date range
    - Formatting dates & times
    - Mapping store locations
    - Converting currency
    - Regenerating unique transaction IDs
    """
    print("üîÑ Transforming data...")

    # Convert date and time
    df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce')
    df['transaction_time'] = pd.to_datetime(
        df['transaction_time'], format='%H:%M:%S', errors='coerce'
    ).dt.strftime('%H:%M:%S')

    # Filter by date range
    start_date = pd.to_datetime(start_offset_date)
    end_date = pd.to_datetime(end_offset_date)
    df_filtered = df[
        (df['transaction_date'] >= start_date) & (df['transaction_date'] <= end_date)
    ].copy()

    if df_filtered.empty:
        print(f"‚ö† No data found for the range {start_offset_date} to {end_offset_date}.")
        return df_filtered

    # Format date for output
    df_filtered['transaction_date'] = df_filtered['transaction_date'].dt.strftime('%Y-%m-%d')

    # Map store locations
    location_map = {
        "Hell's Kitchen": "East Campus",
        "Astoria": "West Campus",
        "Lower Manhattan": "Main Campus"
    }
    df_filtered['store_location'] = df_filtered['store_location'].replace(location_map)

    # Convert unit_price
    df_filtered['unit_price'] = (df_filtered['unit_price'] * 15).round(2)

    # Convert key columns to string safely
    cols_to_convert = ['transaction_id', 'store_id', 'product_id']
    df_filtered[cols_to_convert] = df_filtered[cols_to_convert].apply(
        lambda col: col.dropna().astype(int).astype(str)
    )

    # Force unique transaction IDs by appending the date
    df_filtered['transaction_id'] = (
        df_filtered['transaction_id'].astype(str) + "_" +
        pd.to_datetime(df_filtered['transaction_date']).dt.strftime('%Y%m%d')
    )
    
    # Reorder columns to match the MySQL table structure
    df_transformed = df_filtered.reindex(columns=[
        'transaction_id', 'transaction_date', 'transaction_time', 'transaction_qty',
        'store_id', 'store_location', 'product_id', 'unit_price',
        'product_category', 'product_type', 'product_detail'
    ], fill_value=None)

    return df_transformed


def load_data_to_mysql(df, db_config, table_name, batch_size=5000):
    """
    Loads transformed data into a MySQL table in batches.
    """
    if df.empty:
        print("‚ö† No data to load to MySQL.")
        return

    print("üöÄ Loading data to MySQL...")
    try:
        conn = mysql.connector.connect(**db_config)
        cursor = conn.cursor()
        print("Successfully connected to MySQL database.")

        records = [tuple(x) for x in df.to_numpy()]
        num_records = len(records)

        # The INSERT query with ON DUPLICATE KEY UPDATE to handle idempotency
        insert_query = f"""
            INSERT INTO {table_name} (
                transaction_id, transaction_date, transaction_time, transaction_qty,
                store_id, store_location, product_id, unit_price,
                product_category, product_type, product_detail
            ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE
                transaction_date=VALUES(transaction_date),
                transaction_time=VALUES(transaction_time),
                transaction_qty=VALUES(transaction_qty),
                store_id=VALUES(store_id),
                store_location=VALUES(store_location),
                product_id=VALUES(product_id),
                unit_price=VALUES(unit_price),
                product_category=VALUES(product_category),
                product_type=VALUES(product_type),
                product_detail=VALUES(product_detail)
        """

        # Batch loading
        for i in range(0, num_records, batch_size):
            batch = records[i:i + batch_size]
            print(f"üì¶ Loading batch {i // batch_size + 1} of {num_records // batch_size + 1}...")
            cursor.executemany(insert_query, batch)
            conn.commit()

        print(f"‚úÖ Load complete! Inserted/updated {num_records} records.")

    except mysql.connector.Error as err:
        logging.error(f"‚ùå MySQL Error: {err}")
        if 'conn' in locals() and conn.is_connected():
            conn.rollback()
    finally:
        if 'cursor' in locals() and cursor is not None:
            cursor.close()
        if 'conn' in locals() and conn.is_connected():
            conn.close()
        print("MySQL connection closed.")

if __name__ == "__main__":
    # --- Configuration ---
    table_name = "sales_data"
    num_records_per_day = 500  # Adjust to generate more or fewer records
    
    db_config = {
        'host': 'localhost',
        'user': 'root',
        'password': 'Whatsnew2711',
        'database': 'coffee_shop_sales'
    }

    start_date_str = input("Enter start offset date: ")
    end_date_str = input("Enter end offset date: ")

    # --- Execution Flow ---
    start_date = datetime.strptime(start_date_str, '%Y-%m-%d').date()
    end_date = datetime.strptime(end_date_str, '%Y-%m-%d').date()
    
    df_generated = generate_synthetic_data(start_date, end_date, num_records_per_day)

    if not df_generated.empty:
        df_transformed = transform_data(df_generated, start_date_str, end_date_str)
        if df_transformed is not None:
            load_data_to_mysql(df_transformed, db_config, table_name)