In [44]:
import development.scheduled_csv_to_mysql

if __name__ == '__main__':
    run_daily_incremental()

üì• Extracting data from 'Coffee Shop Sales2.csv'...
üìÜ Processing daily backdate for: 2025-01-01
üîÑ Transforming data...
üÜï No existing data. Creating a new file...
‚úÖ Load complete! Total unique transactions: 549
‚úÖ Daily backdate for 2025-01-01 completed.

In [48]:
install pandas

SyntaxError: invalid syntax (2856326376.py, line 1)

In [50]:
pip install pandas

Requirement already satisfied: pandas in c:\users\khang\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\khang\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khang\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\khang\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khang\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\khang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [10]:
import os
from datetime import datetime, timedelta
import pandas as pd
from etl_backdating_csv_to_csv import extract_data, transform_data, load_data

INPUT_FILE = "Coffee Shop Sales2.csv"
OUTPUT_FILE = "transformed.csv"

def get_next_date_to_process(output_csv, df_raw):
    """
    Determine the next date to backdate based on the last date in the CSV.
    If the CSV doesn't exist, return the earliest date in the raw data.
    """
    df_raw['transaction_date'] = pd.to_datetime(df_raw['transaction_date'], errors='coerce')
    
    if not os.path.exists(output_csv):
        return df_raw['transaction_date'].min()

    df_existing = pd.read_csv(output_csv)
    df_existing['transaction_date'] = pd.to_datetime(df_existing['transaction_date'], errors='coerce')
    df_existing = df_existing.dropna(subset=['transaction_date'])
    last_date = df_existing['transaction_date'].max()

    return last_date + timedelta(days=1)


def run_daily_incremental():
    """
    Run ETL for the next unprocessed date in the raw CSV.
    """
    df_raw = extract_data(INPUT_FILE)
    if df_raw is None:
        print("‚ùå Extraction failed.")
        return

    next_date = get_next_date_to_process(OUTPUT_FILE, df_raw)

    df_raw['transaction_date'] = pd.to_datetime(df_raw['transaction_date'], errors='coerce')
    df_raw = df_raw.dropna(subset=['transaction_date'])

    last_raw_date = df_raw['transaction_date'].max()
    if next_date > last_raw_date:
        print("‚úÖ No new data to process. All dates up to latest available are loaded.")
        return

    start_date_str = next_date.strftime('%Y-%m-%d')
    end_date_str = next_date.strftime('%Y-%m-%d')

    print(f"üìÜ Processing daily backdate for: {start_date_str}")

    # --- Transform and load ---
    df_transformed = transform_data(df_raw, start_date_str, end_date_str)
    if df_transformed.empty:
        print(f"‚ö† No data found for {start_date_str}")
        return

    load_data(df_transformed, OUTPUT_FILE, start_date_str, end_date_str)
    print(f"‚úÖ Daily backdate for {start_date_str} completed.")

In [12]:
run_daily_incremental()

üì• Extracting data from 'Coffee Shop Sales2.csv'...
üìÜ Processing daily backdate for: 2025-01-02
üîÑ Transforming data...
üìÇ Existing data found. Removing old data in the same date range...
‚úÖ Load complete! Total unique transactions: 1115
‚úÖ Daily backdate for 2025-01-02 completed.

In [19]:
def extract_data(file_path):
    try:
        df = pd.read_csv(file_path)
        print(f"‚úÖ Data extracted successfully from {file_path}")
        print("Columns in CSV:", df.columns.tolist())  # üîç Add this line
        return df
    except FileNotFoundError:
        print(f"‚ùå Error: The file {file_path} was not found.")
        return None
    except Exception as e:
        print(f"‚ùå An error occurred during data extraction: {e}")
        return None

In [21]:
INPUT_FILE = "Coffee Shop Sales2.csv"

In [23]:
extract_data(INPUT_FILE)

‚úÖ Data extracted successfully from Coffee Shop Sales2.csv
Columns in CSV: ['transaction_id;transaction_date;transaction_time;transaction_qty;store_id;store_location;product_id;unit_price;product_category;product_type;product_detail']

       transaction_id;transaction_date;transaction_time;transaction_qty;store_id;store_location;product_id;unit_price;product_category;product_type;product_detail
0       1;2025/01/01;07:06:11;2;5;Lower Manhattan;32;3...
1       2;2025/01/01;07:08:56;2;5;Lower Manhattan;57;3...
2       3;2025/01/01;07:14:04;2;5;Lower Manhattan;59;4...
3       4;2025/01/01;07:20:24;1;5;Lower Manhattan;22;2...
4       5;2025/01/01;07:22:41;2;5;Lower Manhattan;57;3...
...                                                   ...
149111  149452;2025/06/30;20:18:41;2;8;Hell's Kitchen;...
149112  149453;2025/06/30;20:25:10;2;8;Hell's Kitchen;...
149113  149454;2025/06/30;20:31:34;1;8;Hell's Kitchen;...
149114  149455;2025/06/30;20:57:19;1;8;Hell's Kitchen;...
149115  149456;2025/06/30;20:57:19;2;8;Hell's Kitchen;...

[149116 rows x 1 columns]

In [26]:
docker exec -it airflow-docker-airflow-scheduler-1 bash
python3

SyntaxError: Missing parentheses in call to 'exec'. Did you mean exec(...)? (2902784441.py, line 1)